body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer-bottom {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 200px;
  background-color: #073422;
}

.copyright {
  color: white;
  font-size: 2rem;
  display: block;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.dashboard-container {
  width: 90%;
  margin: auto;
}

.bottom-nav {
  color: white;
  list-style: none;
  list-style-type: none;
}
.bottom-nav li {
  list-style-type: none;
  line-height: 30px;
}

.bottom-nav a {
  color: #ffffff;
}

.bottom-nav a:hover {
  color: #cacaca;
}
